body {
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    --blackColor1: #222;
    --blackColor2: #444;
    --whiteColor1: #ddd;
    --whiteColor2: #bbb;
    margin: 0;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

header ,footer {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    background-color: var(--blackColor1);
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 10px;
}

#logoPic {
    width: 48px;
    border-radius: 10px;
}

#pages ,#profiles{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.pages ,.profiles {
    display: block;
    color: var(--blackColor1);
    text-decoration: none;
    padding: 0 10px;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    margin-top: 0;
    padding-top: 0;
}

#profiles {
    display: flex;
    flex-direction: row;
}

.convertedColor {
    color: var(--whiteColor1);
}

li > p {
    margin: 0;
    color: var(--blackColor2);
}

/*
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 24px;   /* you can adjust size here
    color: red;       /* and color here
}
*/

@media screen and (min-width: 720px) {
    header {
        position: sticky;
        top: 0;
    }
    nav {
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
        background-color: #222;
}
    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        gap: 10px;
    }

    .logoText {
        margin: auto;
    }

    #pages {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        align-items: start;
        justify-content: space-evenly;
        width: 100%;
        height: 90vh;
    }
}